header {
    height: 30vh;
    background: var(--mat-sys-on-background);
    color: var(--mat-sys-on-primary);
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    padding: 14px;
}