<div class="mannagment-wrapper">
    <app-header>
        <header>
            <div id="logo">
                <img src="mannagment/logo.png" alt="Website logo, a server" />
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="./mannagment/dahsboard">Home</a>
                    </li>
                    <li>
                        <a href="/">Management</a>
                    </li>
                    <li>
                        <button>
                            <span>
                                Logout
                            </span>
                            <span class="icon">
                                →
                            </span>
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
    </app-header>
    <router-outlet></router-outlet>
</div>