<div class="backdrop" (click)="closeDiloagEv()"></div>
<dialog open>
    <h2>Add Task</h2>
    <form method="dialog" (ngSubmit)="saveTask()">
        <p6-control [for]="'title'" [label]="'title'">
            <input type="text" id="title" name="title" />
        </p6-control>

        <p6-control [for]="'summary'" [label]="'summary'">
            <textarea rows="5" id="summary" name="summary"></textarea>
        </p6-control>

        <p6-control [for]="'due-date'" [label]="'due-date'">
            <input type="date" id="due-date" name="due-date" />
        </p6-control>

        <p class="actions">
            <button (click)="closeDiloagEv()" type="button">Cancel</button>
            <button type="submit">Create</button>
        </p>
    </form>
</dialog>